.container{
    margin-top: 100px;
}

.mySwiper {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  
  .slides {
    background-color: white;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin-left: 45px;
    margin-right: 45px;
    cursor: pointer;
   
  }
  
  .mySwiper  img{
      display: block;
    width: 120%;
    height: 100%;
  }
  
  .head{
    margin-left: 95px;
  }
  